body {
    width: 60%;
    height: 60%;
    padding:0;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

.outer-container {
    width: 100%;
    height: 100%;
    position:absolute;
    display: grid;
    grid-template-rows: 1fr 20fr 10fr 10fr;
    grid-template-columns: 2fr 2fr 3fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.top-container {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    color: white;
    background: grey;
    margin-top: auto;
    margin-bottom: auto;
}

.heading {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    text-align: center;
    font-size: 18pt;
}

.heater12-container {
    grid-row: 2 / 5;
    display: grid;
    grid-template-rows: 1fr 15fr 2fr 5fr;
    z-index: 8;
}

.heater1-container {
    grid-column: 1 / 2;
}

.heater2-container {
    grid-row: 2 / 5;
    grid-column: 2 / 3;
}

.heater-background {
    grid-row: 2 / 5;
    grid-column: 1 / 3;
    background: #5a91ff;
    z-index: 2;
}

.heater {
    display: grid;
    grid-template-rows: 24fr 100fr 50fr 20fr 60fr 25fr;
    grid-template-columns: 7fr 4fr;
}

.heater-inner-container {
    grid-row: 1 / 7;
    grid-column: 1 / 3;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
    background-color: darkgrey;
    height: 100%;
    width: 100%;
}

.heater-current-container {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    width: 80%;
    height: 90px;
    margin-top: auto;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: auto;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    font-size: 18pt;
    color: red;
    background: lightgrey;
}

.heater-current-value {
    font-size: 60pt;
    font-weight: bold;
}

.heater-param-container {
    width: 95%;
    height: 50px;
    margin-top: auto;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: auto;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    font-size: 12pt;
    color: green;
    background: lightgrey;
}

.heater-target-container {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.heater-param-value {
    border: none;
    font-size: 24pt;
    color: green;
    width: 85px;
    height: 30pt;
    margin: auto auto;
    background: none;
}

.heater-target-value {

}


.target-sensor-selector {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    height: 20px;
    /* width: 130px; */
    width: 100%;
    margin-top: 2px;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: auto;
    background: lightgrey;
}

.heater-limit-container {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    /* width: 95%;
    height: 50px;
    margin-top: auto;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: auto;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    font-size: 12pt;
    color: black;
    background: lightgrey; */
}

.heater-limit-value {
    /* border: none;
    font-size: 24px;
    color: black;
    width: 85px;
    margin: auto auto;
    background: none; */
}

.limit-sensor-selector {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    height: 20px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: auto;
    background: lightgrey;
}


/* START POWER SWITCH STYLING */

#power-switch-heater-container {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    margin: auto auto;
    display: grid;
    /* z-index: 8; */
}

#power-switch-heater {
    margin: auto auto;
    z-index: 8;
}

.heater-1-2-cb {
    grid-row: 5 / 7;
    grid-column: 2 / 3;
}
.heater-1-2-lb {
    grid-row: 5 / 7;
    grid-column: 2 / 3;
    z-index: 11;
}



.cb{
    height: 75px;
    width: 75px;
    opacity: 0;
    cursor: pointer;
    border: none;
    margin: auto;
}
.lb{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    cursor: pointer;
    color: black;
}
.cb:checked ~ .lb{
    color: green;
}
.pl{
    font-size: 60pt;
    margin: auto auto;
}
/* END POWER SWITCH STYLING */


/* Constant Power UI styling */
.heater-power-container {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    width: 80%;
    height: 90px;
    margin-top: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    font-size: 20pt;
    color: red;
    background: lightgrey;
}

.heater-power-value {
    font-size: 50px;
    font-weight: bold;
    border: none;
    width: 80%;
    text-align: right;
    color: red;
    margin: auto auto;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 9;
}




#pid-heater-container {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 100%;
    width: 100%;
    z-index: 9;
}

#power-heater-container {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 100%;
    width: 100%;
    /* z-index: 8; */
}

#heater-heading {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: large;
    font-weight: bolder;
    margin: auto auto;
}

/* END HEATER STYLING */



.sensor-outer-outer-container {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background: #B5D1EB;
    z-index: 1;
}

.sensor-outer-container, 
.sidebar{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    position: absolute;
    width: 100%;
    height: 100%;
}

.sensor-outer-container {
    background: #B5D1EB;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

/* Start sensor config side menu styling */
/* https://codepen.io/kanchala-k/pen/MoJOMJ */

.sidebar{
    left:-90%;
    background-color: #FFFFFF;
    width: 90%;
    height: 100%;
    transition: .3s;
    z-index: 3;
}
  
ul{
    margin: 0;
    padding: 20px 0;
}
  
ul li{
    list-style: none;
}
  
ul li a{
    padding: 10px 20px;
    color: #fff;
    display: block;
    text-decoration: none;
}
  
ul li a:hover{
    background-color: grey;
}
  
.sidebarBtn{
    position: absolute;
    bottom: 0;
    right:-50px;
    width:50px;
    height:50px;
    box-sizing:border-box;
    cursor: pointer;
    background-color: #f5f5f5;
    border: none;
    outline: none;
}
  
.sidebarBtn span{
    display: block;
    width: 35px;
    height: 3px;
    background-color: #262626;
    position: absolute;
    top:24px;
    transition: .3s;
}
  
.sidebarBtn span:before{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #262626;
    position: absolute;
    top: -10px;
    left: 0;
    transition: .3s;
}
  
.sidebarBtn span:after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #262626;
    position: absolute;
    top: 10px;
    left: 0;
    transition: .3s;
}
  
.active{
    left: 0;
    background-color: #2626267d;
}
  
.sidebarBtn.toggle span{
    background-color: transparent;
}
  
.sidebarBtn.toggle span:before{
    top:0;
    transform: rotate(-45deg);
}
  
.sidebarBtn.toggle span:after{
    top:0;
    transform: rotate(45deg);
}

/* End sensor config side menu styling */


.sensor {
    height: 30pt;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    background: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: black;   
}

.nobr {
    white-space:nowrap;
}

.sensor-label-input {
    background-color:transparent;
    color: black;
    font-size: 26px;
    margin: auto auto;
    border: none;
    width: 60%;
}

.sensor-value, 
.sensor-value-div {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 26px;
    font-weight: bold;
    margin: auto auto;
    margin-left: 5px;
}

#sensor-value1 {
    color: red;
}

#sensor-value2 {
    color: darkblue;
}

#sensor-value3 {
    color: black;
}






.condenser-container {
    grid-column: 3 / 4;
    background: rgb(176, 162, 255);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr;
}

.condenser-dephleg-container {
    grid-row: 4 / 5;
}

.condenser-dephleg-container {
    grid-row: 3 / 4;
}

.condenser-cb {
    position: absolute;
}
.condenser-label {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin: auto auto;
    font-size: 18pt;
    font-weight: bold;
}

.condensor-left-container{
    grid-row: 2 / 5;
    grid-column: 1 / 2;
    margin: auto auto;
    justify-items:center;
    align-items:center;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
}
#condenser-dephleg-switch-container {
    z-index: 2;
}
.condenser-power {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    margin: auto auto;
    display: grid;
}
#condenser-dephleg-power {
    z-index: 8;
}

.condenser-mode-switch {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
    margin: auto auto;
}

.condenser-slider-container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: auto auto auto auto;
}

.condensor-current-container {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    width: 90%;
    height: 100%;
    margin: auto auto auto auto;
    text-align: center;
    font-size: 12pt;
    color: black;
}

.condensor-current-value {
    width: 90%;
    height: 100%;
    vertical-align: middle;
    font-size: 16pt;
    color: black;
    font-weight: bold;
}

.target-value-container {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    width: 90%;
    height: 100%;
    margin: auto auto auto auto;
    text-align: center;
    font-size: 12pt;
    color: black;
}

.target-value {
    border: none;
    font-size: 16pt;
    color: red;
    width: 50pt;
    vertical-align: middle;
    text-align: center;
    background: none;
    font-weight: bold;
}





/* Start slider switch code  
   The slider switch code comes from here:
   https://www.htmllion.com/css3-toggle-switch-button.html
   */
.heater-mode-switch {
    margin: auto auto;
}

#heater-mode-switch-outer-container {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    margin: auto auto;
}

.slider-switch {
    position: relative;
    display: block;
    width: 100px;
    height: 30px;
    padding: 3px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing:content-box;
}
.slider-switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing:content-box;
}
.slider-switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: darkkhaki;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing:content-box;
}
.slider-switch-label:before, .slider-switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing:content-box;
}
.slider-switch-label:before {
    content: attr(data-off);
    right: 18px;
    color: black;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.slider-switch-label:after {
    content: attr(data-on);
    left: 20px;
    color: black;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
    font-size: 14px;
}
.slider-switch-input:checked ~ .slider-switch-label {
    background: #E1B42B;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.slider-switch-input:checked ~ .slider-switch-label:before {
    opacity: 0;
}
.slider-switch-input:checked ~ .slider-switch-label:after {
    opacity: 1;
}
.slider-switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.slider-switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.slider-switch-input:checked ~ .slider-switch-handle {
    left: 74px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
========================== */
.slider-switch-label, .slider-switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

/* End slider switch 